<div
  class="min-h-screen bg-indigo-900 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="bg-white rounded-lg shadow-xl p-8 max-w-md w-full space-y-6">
    <h2 class="text-3xl font-bold text-gray-900 text-center mb-8">
      Editar Proyecto
    </h2>

    <div *ngIf="isLoading" class="flex justify-center">
      <div
        class="animate-spin rounded-full h-10 w-10 border-b-2 border-indigo-600"
      ></div>
    </div>

    <form
      *ngIf="!isLoading"
      [formGroup]="editProjectForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6"
    >
      <div class="space-y-2">
        <label for="name" class="block text-sm font-medium text-gray-700">
          Nombre del Proyecto:
        </label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
        />
        <div
          *ngIf="
            editProjectForm.get('name')?.invalid &&
            editProjectForm.get('name')?.touched
          "
          class="text-sm text-red-600"
        >
          El nombre del proyecto es requerido
        </div>
      </div>

      <app-multi-select-users
        [selectedUsers]="selectedUsers"
        (selectedUsersChange)="onSelectedUsersChange($event)"
      ></app-multi-select-users>

      <button
        type="submit"
        [disabled]="editProjectForm.invalid"
        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Guardar Cambios
      </button>
    </form>
  </div>
</div>

